<div class="body">
    <div class="card">
                <div class="card-body">
                                <form [formGroup]="profileForm" (submit)="simpandata($event)">
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label> <span style="color:red">*</span>  Nama Barang: </label>
                                                <input type="text" formControlName="nama_barang" class="form-control" placeholder="Nama Barang">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Jenis Barang : </label>
                                                <input type="email" formControlName="jenis_barang" class="form-control" placeholder="Jenis Barang">
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label><span style="color:red">*</span> Tipe Barang: </label>
                                                <input type="text" formControlName="tipe_barang" class="form-control" placeholder="Tipe Barang">
                                            </div>
                                        </div>
                        
                                        <div class="col-sm-6" >
                                            <div class="form-group">
                                                <label><span style="color:red">*</span> Harga (Satuan): </label>
                                                <input type="text" formControlName="harga" class="form-control" placeholder="Harga Barang">
                                            </div>
                                        </div>
                        
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label> <span style="color:red">*</span> Keterangan : </label>
                                                        <textarea class="form-control" formControlName="keterangan_barang" placeholder="Keterangan Barang"></textarea>
                                                </div>
                                            </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label> <span style="color:red">*</span> Foto : </label>
                                                <textarea class="form-control" formControlName="foto" placeholder="Foto"></textarea>
                                            </div>
                                        </div>
                                    </div> 
                                                
                                    <div class="col-sm-12 m-t-30">
                                        <button type="submit" [disabled]="profileForm.invalid" class="btn btn-primary btn-round">Submit</button> 
                                        <button type="button" (click)="buttonCancel()" class="btn btn-default btn-round btn-simple">Cancel</button>
                                    </div>
                                </form>
                            </div> 
  </div>
</div>