  .footer{
    margin-top: 40px;
    background-color: #000;
  }
  
  .text-footer {
    font-size: 35px;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
  }
  
  .footer-copyright{
    display: repeat;
    margin-top: 40px;
    background-image: url(https://art.pixilart.com/1b578a1c1a6cd85.png);
  }
  
  
  /* chat */
  .chat{
    margin-right: 20px;
  }
  
  
  /* mobile version */
  
  
  