<div class="body">
    <div class="card-body">
        <form [formGroup]="profileForm" (submit)="simpandata($event)">
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label> <span style="color:red">*</span>  Fullname: </label>
                        <input type="text" formControlName="fullname" class="form-control" placeholder="Fullname">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email : </label>
                        <input type="email" formControlName="email" class="form-control" placeholder="Email">
                    </div>
                </div>       
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label><span style="color:red">*</span> Phone Number: </label>
                        <input type="text" formControlName="phone" class="form-control" placeholder="Phone Number">
                    </div>
                </div>

                <div class="col-sm-6" >
                    <div class="form-group">
                        <label>Payment With : </label>
                        <select class="form-control" formControlName="payment">
                            <option value="1">Chose One</option>
                            <option value="2">BCA - 9xxxxxxxxx</option>
                            <option value="3">BNI - 9xxxxxxxxx</option>
                            <option value="4">MANDIRI - 9xxxxxxxxx</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label> <span style="color:red">*</span> Address : </label>
                                <textarea class="form-control" formControlName="address" placeholder="Address"></textarea>
                        </div>
                    </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label> <span style="color:red">*</span> Notes : </label>
                        <textarea class="form-control" formControlName="notes" placeholder="Notes"></textarea>
                    </div>
                </div>
            </div> 
                        
            <div class="col-sm-12 m-t-30">
                <button type="submit"  class="btn btn-primary btn-round">Submit</button> 
                <button type="button"  class="btn btn-default btn-round btn-simple">Cancel</button>
            </div>
        </form>
    </div>
</div>
